// Brand Colors 

$brand-color-primary-pure: #000;
$brand-color-primary-light: #A3A3A3;
$brand-color-primary-medium: #666666;
$brand-color-primary-dark: #292929;


// btn bg 
$btn-color-primary-medium: #474747;
$btn-color-secondary-medium: #e2e2e2;

$brand-color-secondary-pure: #1A58D3;
$brand-color-secondary-light: #71A1FF;
$brand-color-secondary-medium: #3559a0;
$brand-color-secondary-dark: #1a2438;

// Highlight Colors 

$highlight-color-action: #37AB00;
$highlight-color-pure: #F673AD;
$highlight-color-light: #FDD9E9;
$highlight-color-medium: #900945;
$highlight-color-dark: #430420;


// Neutral Colors 
$neutral-color-low-pure: #0000;
$neutral-color-low-light: #A3A3A3;
$neutral-color-low-pure: #666666;
$neutral-color-low-pure: #292929;

$neutral-color-high-pure: #FFFF;
$neutral-color-high-light: #F5F5F5;
$neutral-color-high-medium: #E0E0E0;
$neutral-color-high-dark: #CCCCCC;

// Feedback Colors

$feedback-color-warning-pure: #9847f5;
$feedback-color-warning-light: #D9BBFB;
$feedback-color-warning-medium: #6D469B;
$feedback-color-warning-dark: #4E148F;

$feedback-color-helper-pure: #FF8A00;
$feedback-color-helper-light: #FFE3C2;
$feedback-color-helper-medium: #CC6E00;
$feedback-color-helper-dark: #7A4200