@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

// Family 

$font-family-base: 'Gruppo', cursive;

// Weigth 

$font-weigth-bold: 700;
$font-weigth-medium: 600;
$font-weigth-regular: 400;