<!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1336025248&color=%23f673ad&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/djalvesodara" title="DJ Alves ODARA" target="_blank" style="color: #cccccc; text-decoration: none;">DJ Alves ODARA</a> · <a href="https://soundcloud.com/djalvesodara/juice" title="Juice SET #2 Dj Alves ODARA" target="_blank" style="color: #cccccc; text-decoration: none;">Juice SET #2 Dj Alves ODARA</a></div> -->
<div class="grid">

    <div class="grid__parent">
        <div class="grid__parent--item-header logo">
            <img src="../assets/bg-elements/logo_dj.svg" [class.header-change]="headerVariable" alt="" srcset="">
        </div>
        <div class="grid__parent--item-header wiggle red vibrate-1">
            <img src="../assets/bg-elements/bold_fun_wiggle 2.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-header banner">
            <img src="../../../assets/bg-elements/banner_3d.svg" alt="" srcset="">
            <!-- <img src="../assets/bg-elements/frame 2.svg" alt="" srcset=""> -->
        </div>
        <div class="grid__parent--item mixer">
            <img src="../../../assets/bg-elements/mixxer_3d.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item menu">
            <nav class="nav">
                <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation" />
                <label class="nav__trigger-finger" for="trigger">
                    <span></span>
                </label>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#hoi" class="nav__link">
                            <span class="nav__text">
                                Sobre o projeto
                            </span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#hoi" class="nav__link">
                            <span class="nav__text">
                                Quem está na pista
                            </span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#hoi" class="nav__link">
                            <span class="nav__text">
                                Cadastre sua mix
                            </span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="https://www.instagram.com/todaspodemixar/" class="nav__link">
                            <span class="nav__text">
                                Conheça o <strong>TPM</strong>
                            </span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="grid__parent--item-desc">
            <h1 [class.header-change]="headerVariable">data, set & mix</h1>
            <span>web studio</span>
        </div>
        <!-- <div class="grid__parent--item-sub-desc">
            <h2>Data, set & mix é um organizador de estudos de música e set list para mixagem a partir da API Spotify,
                um projeto open source incentivando todes a
                serem destemides em suas contribuições! Inspirado pelas oficinas do projeto <br><a
                    href="https://www.instagram.com/todaspodemixar/">TPM Todas Podem Mixar!</a></h2>
        </div> -->
        <div class="grid__parent--item-r3 wave-left">
            <img src="../assets/bg-elements/bold_fun_line 2.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-r3 button-group">
            <button class="grid__parent--item-r3 btn-secondary" (click)="openLoginPage()">Acessar Player
                Mix</button>
            <!-- <button class="grid__parent--item-r3 btn-secondary" >Acessar Player Mix</button> -->
            <button class="grid__parent--item-r3 btn-primary">Sobre o projeto</button>
        </div>
        <div class="grid__parent--item-r3 wiggle yellow vibrate-1">
            <img src="../assets/bg-elements/bold_fun_wiggle_yellow 1.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-r3 wave-right">
            <!-- <img src="../assets/bg-elements/wave 1.svg" alt="" srcset=""> -->
        </div>
    </div>
    <div class="footer-banner">
        <iframe width="100%" height="130" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1274603581&color=%23ff8a00&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/djalvesodara" title="DJ Alves ODARA" target="_blank" style="color: #cccccc; text-decoration: none;">DJ Alves ODARA</a> · <a href="https://soundcloud.com/djalvesodara/the-back-dj-alves-odara" title="The Back - DJ Alves ODARA" target="_blank" style="color: #cccccc; text-decoration: none;">The Back - DJ Alves ODARA</a></div>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/djalvesodara" title="DJ Alves ODARA" target="_blank"
                style="color: #cccccc; text-decoration: none;">DJ Alves ODARA</a> · <a
                href="https://soundcloud.com/djalvesodara/juice" title="Juice SET #2 Dj Alves ODARA" target="_blank"
                style="color: #cccccc; text-decoration: none;">Juice SET #2 Dj Alves ODARA</a></div>

    </div>
</div>