@import '../../../assets/utils/placeholders';
@import '../../../assets/styles/variables.scss';
@import '../../../assets/brand-tokens/typography.scss';
@import '../../../assets//brand-tokens/colors.scss';


:host {
        margin-left: -4vw;
}

.grid {
        &__parent {
                display: grid;
                grid-template-columns: 20% 18% 20% 20% 22%;
                grid-template-rows: 2fr 100px;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                justify-items: stretch;
                align-items: stretch;
                width: 100vw;

                @media(max-width:768px) {
                        display: grid;
                        grid-column-gap: 8px;
                        grid-row-gap: 8px;
                        grid-template-columns: repeat(2, 30%);
                        grid-template-rows: repeat(6, 16vh);
                }

                img {
                        transform: translateZ(0);
                }

                .logo,
                .banner {
                        z-index: 1;

                        img {
                                @media(max-width:768px) {
                                        width: 37vw;
                                }
                        }
                }

                .wiggle {
                        align-self: center;

                        &.yellow {
                                @media(max-width:768px) {
                                        position: relative;
                                        left: 26vw;
                                        grid-row: 5;
                                        grid-column: 2;
                                        align-self: end;
                                }

                                img {
                                        @media(max-width:768px) {
                                                width: 42vw;
                                        }
                                }
                        }

                        &.red {
                                img {
                                        @media(max-width:768px) {
                                                display: none;

                                        }
                                }
                        }


                        img {
                                width: 18vw;
                        }


                        &.vibrate-1 {
                                img {
                                        -webkit-animation: vibrate-1 0.3s linear infinite both;
                                        animation: vibrate-1 0.3s linear infinite both;

                                }
                        }
                }

                button {
                        display: flex;
                        flex-direction: column;
                }

                &--item {
                        justify-self: center;



                        &.mixer {
                                position: absolute;
                                top: 18vh;
                                right: -4vw;
                                
                                @media(max-width:768px) {
                                        right: 0;
                                        left: 1vw;
                                        grid-row: 3;
                                        justify-self: baseline;
                                        top: 34vh;

                                        img {
                                                max-width: 112vw;
                                        }
                                }
                        }

                        &.menu {
                                @media(max-width:768px) {
                                        max-height: 20.2vh;
                                        position: fixed;
                                        top: 0;
                                        right: 0;
                                }
                        }

                        img {
                                max-width: 42vw;
                        }

                        @extend %disco-menu
                }

                &--item-header {


                        &.logo {
                                justify-self: end;


                                img {
                                        &.header-change {
                                                @media(max-width:768px) {
                                                        transition: transform 0.25s;
                                                        transform: scale(0.4);
                                                        margin-left: -8vw;
                                                }
                                        }

                                        &:not(.header-change) {
                                                @media(max-width:768px) {
                                                        transition: transform 0.25s;
                                                        transform: inherit;
                                                        margin-left: 0;
                                                }
                                        }
                                }

                                @media(max-width: 768px) {
                                        grid-column: 1;
                                        justify-self: baseline;
                                        position: fixed;
                                        min-height: 14.2vh;
                                }
                        }

                        &.banner {
                                @media(max-width: 768px) {
                                        position: relative;
                                        left: 28vw;
                                        bottom: 17vh;
                                        grid-row: 3;
                                        grid-column: 2;
                                }
                        }

                        img {
                                width: 15vw;
                        }
                }

                &--item-r3 {
                        grid-row: 3;
                        align-self: end;


                        &.wave-right {

                                @media(max-width:768px) {
                                        grid-row: 5;
                                        position: relative;
                                        top: 10vh;
                                        right: 26vw;
                                }

                                img {
                                        width: 38vw;

                                        @media(max-width:768px) {
                                                width: 100vw;

                                        }
                                }
                        }

                        &.wave-left {
                                @media(max-width:768px) {
                                        display: none;
                                }

                                img {
                                        width: 28vw;
                                        position: relative;
                                        bottom: 2vh;
                                        z-index: -1;
                                        right: 1vw;
                                }
                        }

                        img {
                                width: 22vw;
                        }

                        &.button-group {
                                height: 25vh;

                                @media(max-width:768px) {
                                        grid-row: 6;
                                        width: 100vw;
                                        position: absolute;
                                        top: 92.6vh;
                                        background-color: #efb08b;
                                        border-top: 4px solid black;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        z-index: 2;
                                }

                                button {
                                        @extend %btn;

                                        @media(max-width:768px) {
                                                align-self: center;
                                                margin: 1em 0px;
                                        }
                                }

                                .btn-primary {
                                        background-color: $neutral-color-low-pure;
                                        color: $neutral-color-high-pure;

                                        &:hover {
                                                background-color: $btn-color-primary-medium;
                                        }
                                }

                                .btn-secondary {
                                        background-color: transparent;
                                        color: $neutral-color-low-pure;

                                        &:hover {
                                                background-color: $btn-color-secondary-medium;
                                        }
                                }

                        }
                }

                &--item-r4 {
                        grid-row: 4;
                }

                &--item-desc {
                        grid-column: 2;
                        align-self: center;
                        z-index: -1;

                        @media(max-width:768px) {
                                position: relative;
                                top: 2vh;
                                grid-column: 1;
                                grid-row: 2;
                                align-self: baseline;
                                margin-left: 18vw;
                                min-width: 42vw;
                        }

                        @media(min-width:769px) {
                                margin-top: 18vh;
                        }
                }

                &--item-sub-desc {
                        position: relative;
                        top: 10vh;
                        grid-column: 4;
                        height: 20vh;
                        width: 38vw;
                        border: 4px solid black;
                        display: flex;
                        align-content: center;
                        background-color: #c74c34;
                        align-self: center;
                        justify-self: center;
                        align-items: center;
                        padding: 0.6em 1em;
                        z-index: 2;

                        @media(max-width:768px) {
                                position: relative;
                                height: 16vh;
                                grid-row: 4;
                                grid-column: 2;
                                margin-left: 6vw;
                                align-self: self-end;
                                top: 6vh;
                                width: 90vw;
                                padding: 0.4em 1em;

                        }
                }

        }

        .footer-banner {
                background: white;
                position: fixed;
                width: 100vw;
                left: 0vw;
                height: 10vh;
                bottom: 0vh;

                @media(max-width: 768px) {
                        height: 25vh;
                }

                iframe {
                        width: 40vw;

                        @media(max-width: 768px) {
                                width: 100vw;
                                height: 20vh;
                        }
                }
        }
}