<router-outlet></router-outlet>

<div class="grid">

    <div class="grid__parent">
        <div class="grid__parent--item-header logo">
            <img src="../assets/bg-elements/logo_dj.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-header wiggle vibrate-1">
            <img src="../assets/bg-elements/bold_fun_wiggle 2.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-header">
            <img src="../assets/bg-elements/banner-sample1.png" alt="" srcset="">
            <!-- <img src="../assets/bg-elements/frame 2.svg" alt="" srcset=""> -->
        </div>
        <div class="grid__parent--item mixer">
            <img src="../assets/bg-elements/mixer_spotify(1) 1.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item">
            <section class="menu menu--circle">
                <input type="checkbox" id="menu__active" />
                <label for="menu__active" class="menu__active">
                    <div class="menu__toggle">
                        <div class="icon">
                            <div class="hamburger"></div>

                        </div>
                    </div>
                    <input type="radio" name="arrow--up" id="degree--up-0" />
                    <input type="radio" name="arrow--up" id="degree--up-1" />
                    <input type="radio" name="arrow--up" id="degree--up-2" />
                    <div class="menu__listings">
                        <ul class="circle">
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ Miria</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ Pam Odara</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 3</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 4</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="placeholder">
                                    <div class="upside">
                                        <a href="#" class="button">DJ 5</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="menu__arrow menu__arrow--top">
                        <ul>
                            <li>
                                <label for="degree--up-0">
                                    <div class="arrow"></div>
                                </label>
                                <label for="degree--up-1">
                                    <div class="arrow"></div>
                                </label>
                                <label for="degree--up-2">
                                    <div class="arrow"></div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </label>
            </section>
        </div>
        <div class="grid__parent--item-desc">
            <h1>data, set & mix</h1>
            <span>web studio</span>
        </div>
        <div class="grid__parent--item-sub-desc">
            <h2> An exploration of how Gen Z and millennials are shaping audio streaming and culture at large. An
                exploration of how Gen Z and millennials are shaping audio streaming and culture at large.</h2>
        </div>
        <div class="grid__parent--item-r3 wave-left">
            <img src="../assets/bg-elements/bold_fun_line 2.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-r3 button-group">
            <button class="grid__parent--item-r3 btn-secondary">Acessar Player Mix</button>
            <button class="grid__parent--item-r3 btn-primary">Sobre o projeto</button>
        </div>
        <div class="grid__parent--item-r3 wiggle vibrate-1">
            <img src="../assets/bg-elements/bold_fun_wiggle_yellow 1.svg" alt="" srcset="">
        </div>
        <div class="grid__parent--item-r3 wave-right">
            <img src="../assets/bg-elements/wave 1.svg" alt="" srcset="">
        </div>
    </div>
    <!-- <div class="footer-banner">
    </div> -->
</div>