
<header>
    <img class="to-be-hero" src="../assets/bg-elements/banner-sample1.png" alt="" srcset="">  
    <img class="to-be-hero" src="../assets/bg-elements/frame 2.svg" alt="" srcset="">  
    <div class="logo-bg">
        <img src="../assets/bg-elements/logo_dj.svg" alt="" srcset="">
        <img src="../assets/bg-elements/bold_fun_wiggle 2.svg" alt="" srcset="">
    </div>

    <div class="desc-bg">        
        <img src="../assets/bg-elements/bold_fun_line 2.svg" alt="" srcset="">  

        <div>
            <h1>data, set & mix.</h1>
            <h2>web studio</h2>
        
            <div class="cta__button">
                <button class="cta__button--primary">
                    Abrir meu Spotify
                </button>
                <button class="cta__button--secondary">
                    Abrir meu Spotify
                </button>
            </div>
        </div>
        <img src="../assets/bg-elements/bold_fun_wiggle_yellow 1.svg" alt="" srcset="">
    </div>


    
</header>
<main>
    <img src="../assets/bg-elements/mixer_spotify(1) 1.svg" alt="" srcset="">
    
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quasi temporibus impedit rem magnam atque vero nihil. Recusandae nostrum, porro, labore quibusdam fugit dolores officia quos omnis cum possimus beatae!</h4>
    <img src="../assets/bg-elements/bold_fun_rectangle 1.svg" alt="" srcset="">  
    <img src="../assets/bg-elements/wave 1.svg" alt="" srcset="">  
</main>
<section class="about">
    
</section>
<div class="quotes">
    <h3>Ouve<span>••••••••</span>Ripa<span>•••</span>Dropa<span>•••</span>Vira<span>••••••••</span>Breakdown</h3>
</div>
<router-outlet></router-outlet>