@import '../assets/utils/placeholders';
@import '../assets/styles/variables.scss';
@import '../assets/brand-tokens/typography.scss';
@import '../assets//brand-tokens/colors.scss';

:host {
  margin-left: -4vw;
}

.grid {
  &__parent {
    display: grid;
    grid-template-columns: 20% 18% 20% 20% 22%;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    width: 100vw;

    img {
      transform: translateZ(0);
    }

    .wiggle {
      align-self: center;

      img {
        width: 18vw;
      }


      &.vibrate-1 {
        img {
          -webkit-animation: vibrate-1 0.3s linear infinite both;
          animation: vibrate-1 0.3s linear infinite both;

        }
      }
    }

    button {
      display: flex;
      flex-direction: column;
    }

    &--item {
      justify-self: center;

      

      &.mixer {
        position: relative;
        top: 14vh;
      }

      img {
        max-width: 31vw;
      }

      @extend %disco-menu
    }

    &--item-header {

      &.logo {
        justify-self: end;
      }

      img {
        width: 15vw;
      }
    }

    &--item-r3 {
      grid-row: 3;
      align-self: end;


      &.wave-right {

        img {
          width: 38vw;
        }
      }

      &.wave-left {

        img {
          width: 28vw;
          position: relative;
          bottom: 2vh;
          z-index: -1;
        }
      }

      img {
        width: 22vw;
      }

      &.button-group {
        height: 25vh;

        button {
          @extend %btn;
        }

        .btn-primary {
          background-color: $neutral-color-low-pure;
          color: $neutral-color-high-pure;

          &:hover {
            background-color: $btn-color-primary-medium;
          }
        }

        .btn-secondary {
          background-color: transparent;
          color: $neutral-color-low-pure;

          &:hover {
            background-color: $btn-color-secondary-medium;
          }
        }

      }
    }

    &--item-r4 {
      grid-row: 4;
    }

    &--item-desc {
      grid-column: 2;
      align-self: center;
      margin-top: 18vh;

      span {
        font-size: $font-size-md;
        font-family: $font-family-subtitle;
      }
    }

    &--item-sub-desc {
      position: relative;
      top: 10vh;
      grid-column: 4;
      height: 20vh;
      width: 38vw;
      border: 10px solid black;
      display: flex;
      align-content: center;
      background-color: #c74c34;
      align-self: center;
      justify-self: center;
      align-items: center;
      padding: 0.6em 1em;
      z-index: 2;
    }

  }

  .footer-banner {
    background: white;
    position: fixed;
    width: 100vw;
    left: 0vw;
    height: 15vh;
    bottom: 0vh;
  }
}