/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import './assets/brand-tokens/colors.scss';
@import './assets/brand-tokens/typography.scss';

html,
body {
    display: flex;
    margin: 0 2%;
    // overflow: hidden;
}

body {
    background-color: #1474FF;

    @media(min-width:769px) {
        border-left: 1px solid white;

    }
 

}



.color-change-3x {
    -webkit-animation: color-change-3x 4s linear infinite alternate both;
            animation: color-change-3x 4s linear infinite alternate both;
  }

* {
    font-family: $font-family-display;
    color: $brand-color-primary-dark;
    box-sizing: border-box;
}

h1 {
    font-size: $font-size-giant;
    margin-bottom: 0;
    margin-top: 0;

    @media(max-width:768px) {
        font-size: $font-size-xxxl;
        line-height: 0.86;
    }
}

h2 {
    font-weight: lighter;
    color: $neutral-color-high-light;
    font-size: 24px;
    text-align: center;
    min-width: 22vw;
    line-height: 1.2;
    
    @media(max-width:768px) {
        font-size: $font-size-xxs;
    }
}

span {
    font-size: $font-size-md;
    font-family: $font-family-subtitle;

    @media(max-width:768px) {
        font-size: $font-size-xs;
    }
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
}