/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import './assets/brand-tokens/colors.scss';
@import './assets/brand-tokens/typography.scss';

html, body {
    display: flex;
    margin: 0 2%;   
    @media(max-width: 760px) {
        // background-image: url(./assets/images/circle-scatter-haikei-brand-mobile.svg);
        
    }
}

body {
    background-color: #1474FF;
    border-left: 1px solid white;

}

* {
    font-family: $font-family-base;
    color: $neutral-color-high-pure;
    box-sizing: border-box;
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
}